sfdx_project/force-app/main/default/flows/testtest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>CustomBolean</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>customNumber</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.47454564653E11</numberValue>
        </value>
    </constants>
    <constants>
        <name>Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </constants>
    <constants>
        <name>name_cust</name>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </constants>
    <interviewLabel>testtest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testtest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_acc</name>
        <label>create acc</label>
        <locationX>872</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <stringValue>12345</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>123</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <stringValue>asdasd</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createcontact</name>
        <label>createcontact</label>
        <locationX>872</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>create_acc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>createcase</targetReference>
        </faultConnector>
        <inputReference>CustomRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccounts</name>
        <label>getAccounts</label>
        <locationX>872</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>872</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>createcontact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>IsNull</operator>
            <value>
                <elementReference>CustomBolean</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>customDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>customText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>CustomBolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>asdasd</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>customNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>746</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getAccounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>createcase</name>
        <label>createcase</label>
        <locationX>1136</locationX>
        <locationY>566</locationY>
        <flowName>setup_service_experience__Create_Case</flowName>
    </subflows>
    <textTemplates>
        <name>customText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;qwertyqwertytest&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>customDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$System.OriginDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>CustomRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>namename</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
